* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; 
}

#calculator-container {
  height: 700px;
}

#calculator {
  /* background-color: red; */
  width: 350px;
  height: 470px; 
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 auto; 
  border: 4px solid black; 
  border-radius: 10px;
}

#display-container {
  /* background-color: blue; */
  width: 300px;
  height: 100px;
  margin: 0 auto; 
  margin-bottom: 20px;
  border: 4px solid black;
  border-radius: 10px;
}

#display {
  margin-top: 70px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.calc-btn {
  width: 70px;
  height: 70px; 
  border-radius: 35px;
  /* border: 2px solid black;  */
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(72, 71, 71); 
  color: white;
  cursor: pointer;
}

.calc-btn:hover {
  background-color: rgba(72, 71, 71, 0.73); 
}

.operation-btn {
  background-color: orange; 
  color: white;
}

.operation-btn:hover {
  background-color: rgba(255, 166, 0, 0.73);
}